    .admin-tab {
        background-color: rgb(255, 255, 255);
        padding: 10px 0px;
    }

    .admin-tab> a {
        display: flex;
        color: black;   
        font-size: 18px;
        width: 100%;
        height: 100%;
        justify-content: left;
        padding-right: 20px;
        
    }